@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.booking-details {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #eee;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background: white;
    transition: all 0.3s ease-in-out;
}

.booking-details:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.booking-details h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
    position: relative;
}
.booking-details h2::after {
    content: '';
    width: 50px;
    height: 3px;
    background: #6c63ff;
    display: block;
    margin: 10px auto 0;
    border-radius: 5px;
}
.booking-details p {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
    color: #666;
}
.booking-details .info:last-child {
    border-bottom: none;
}
.event-img-container {
    display: grid;
    margin: auto;
    place-content: center;
    gap: 10px;
}
.event-image {
    width: 150px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.custom-zoom img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.custom-zoom img:hover {
    transform: scale(1.5);
}
.custom-zoom-zoomed img {
    cursor: pointer;
  }
  
  .custom-zoom-zoomed .react-medium-image-zoom-overlay {
    backdrop-filter: blur(5px);
  }
  .react-medium-image-zoom-overlay {
    cursor: pointer ;
  }
  .del-icon{
    background-color: rgb(187, 187, 187);
    padding: 8px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: all 0.2s;
    visibility: visible;
    display: inline-block;
}

.del-icon:hover{
    background-color:rgb(121, 121, 121);
}
  