.sections{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 50px;
    justify-content: center;
}

.todays-details section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: auto;
    background-color: #686868;
    border-radius: 20px;    
    margin: 20px 0;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.4s;
}
.eventSection h2,h3, .eventSection h5{
    text-decoration: none;
    color: #ffffff;
}
.todays-details section:hover{
    transform: scale(1.04) rotate(-2deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
#Date{  
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
}


h2{
    font-weight: 800;
    text-decoration: none;
}
h3{font-weight: 500;
    text-decoration: none;
}
h4{font-weight: 500;}
h5{font-weight: 500;}

.venueButton {
    background-color: #2d2d2d; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    color: #ffffff; 
    padding: 7px 15px; 
    margin: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}


.venueButton:hover {
    background-color: #686868; 
    color: #ffffff; 
}


.venueButton:active {
    background-color: #686868; 
    color: #ffffff; 
}


.venueButton:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(0, 42, 255, 0.25); 
}
.goToDateButton{
    background-color: #2d2d2d; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    color: #ffffff; 
    padding: 4px 15px; 
    margin: 5px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}
