.signup-page{
    display: flex;
    flex-direction: column ;
    background-color: rgb(188, 198, 194);
    width: 500px;
    height: 500px;
    justify-content: center;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 400px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.namee,.emaill,.passwordd,.passs{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }



.buttonn{
    position: absolute;
    top: 560px;
    left: 448px;
    width: 401px;
    background-color: #0f8375; /* Green */ 
    border: 10px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

