.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    position: absolute;
    top: -50px; /* Adjust the distance from the icon */
    left: 50%; /* Center the tooltip relative to the icon */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 99;
    min-width: 250px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    pointer-events: none; /* Prevents tooltip from interfering with hover */
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    pointer-events: auto; /* Allows interaction with tooltip */
}

/* Media Query for Small Screens */
@media (max-width: 768px) {
    .tooltip-text {
        min-width: 180px;
        top: -50px; /* Adjust the distance from the icon */
    }
}
