
.main{
  height: 100vh;
  padding: 10px;
  overflow-x: hidden;
  text-align: center;
  /* background: rgb(246,253,85);
  background: linear-gradient(90deg, rgba(246,253,85,0.22731764773105056) 35%, rgba(125,248,255,0.4248860367888013) 100%); */

  background-image: url("../public/assets/dtu_bg.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
.dtu-logo{
  height: 50px;
  width: 50px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}
.dtu-logo img{
  object-fit: cover;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

a{
  text-decoration: none;
  color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

b{
  color: rgb(55, 163, 235);
}